Repository NurkaAmre/Final-Capstone-Back-End, pull requests merged in 2023-03, with the labels that each got.

#16 Controllers
  app/controllers/api/v1/books_controller.rb
  app/controllers/api/v1/reservations_controller.rb
  app/controllers/api/v1/users_controller.rb
  app/controllers/books_controller.rb
  app/controllers/reservations_controller.rb
  app/controllers/users_controller.rb
  app/models/reservation.rb
  config/database.yml
  config/routes.rb
  db/migrate/20230306090516_create_books.rb
  db/migrate/20230306090554_create_reservations.rb
  db/schema.rb
Labels: API endpoints, Controllers, Models

#17 Authentication - JWT -Back End
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/auth_controller.rb
  app/controllers/users/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
  app/controllers/users_controller.rb
  app/models/user.rb
  config/credentials.yml.enc
  config/environments/development.rb
  config/initializers/cors.rb
  config/initializers/devise.rb
  config/locales/devise.en.yml
  config/routes.rb
  db/migrate/20230306101946_add_devise_to_users.rb
  db/migrate/20230306105752_add_jti_to_users.rb
  db/schema.rb
Labels: Authentication, JWT

#19 Pull Request for getting and posting data following seed.rb
  Gemfile
  app/controllers/api/v1/books_controller.rb
  app/controllers/api/v1/reservations_controller.rb
  app/controllers/api/v1/users_controller.rb
  app/controllers/application_controller.rb
  app/controllers/concerns/rack_session_fix.rb
  app/controllers/users/registrations_controller.rb
  app/controllers/users/sessions_controller.rb
  app/models/user.rb
  app/serializers/user_serializer.rb
  config/initializers/cors.rb
  config/initializers/devise.rb
  config/routes.rb
  db/migrate/20230306101946_add_devise_to_users.rb
  db/migrate/20230306105752_add_jti_to_users.rb
  db/schema.rb
Labels: Authentication, API endpoints, Controllers, Models
